.footer__column-link {
  border: 0;
  list-style: none;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 1s linear;
}